In [110]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (0.3.13)
Requirement already satisfied: packaging in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2025.8.3)
Requirement already satisfied: colorama in c:\users\w10\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [111]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ehtishamsadiq/uncleaned-laptop-price-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\w10\.cache\kagglehub\datasets\ehtishamsadiq\uncleaned-laptop-price-dataset\versions\1

In [112]:
import numpy as np
import pandas as pd

df=pd.read_csv("C:/Users/w10/.cache/kagglehub/datasets/ehtishamsadiq/uncleaned-laptop-price-dataset/versions/1/laptopData.csv")
df.head(10)

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
5,5.0,Acer,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,21312.0000
6,6.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,114017.6016
7,7.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,61735.5360
8,8.0,Asus,Ultrabook,14,Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Nvidia GeForce MX150,Windows 10,1.3kg,79653.6000
9,9.0,Acer,Ultrabook,14,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows 10,1.6kg,41025.6000

### Dropping irrelevant cols..

In [113]:
col=['ScreenResolution','Cpu','Ram','Memory','Gpu','OpSys','Weight']
df=df.drop(col,axis=1)

In [114]:
df.head()

   Unnamed: 0 Company   TypeName Inches        Price
0         0.0   Apple  Ultrabook   13.3   71378.6832
1         1.0   Apple  Ultrabook   13.3   47895.5232
2         2.0      HP   Notebook   15.6   30636.0000
3         3.0   Apple  Ultrabook   15.4  135195.3360
4         4.0   Apple  Ultrabook   13.3   96095.8080

### Dropping row if every col has null values

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1273 non-null   float64
 1   Company     1273 non-null   object
 2   TypeName    1273 non-null   object
 3   Inches      1273 non-null   object
 4   Price       1273 non-null   float64
dtypes: float64(2), object(3)
memory usage: 51.0+ KB

In [116]:
df[df["Inches"].isna()]

      Unnamed: 0 Company TypeName Inches  Price
20           NaN     NaN      NaN    NaN    NaN
46           NaN     NaN      NaN    NaN    NaN
50           NaN     NaN      NaN    NaN    NaN
115          NaN     NaN      NaN    NaN    NaN
125          NaN     NaN      NaN    NaN    NaN
148          NaN     NaN      NaN    NaN    NaN
190          NaN     NaN      NaN    NaN    NaN
209          NaN     NaN      NaN    NaN    NaN
267          NaN     NaN      NaN    NaN    NaN
336          NaN     NaN      NaN    NaN    NaN
350          NaN     NaN      NaN    NaN    NaN
478          NaN     NaN      NaN    NaN    NaN
567          NaN     NaN      NaN    NaN    NaN
616          NaN     NaN      NaN    NaN    NaN
625          NaN     NaN      NaN    NaN    NaN
629          NaN     NaN      NaN    NaN    NaN
666          NaN     NaN      NaN    NaN    NaN
699          NaN     NaN      NaN    NaN    NaN
726          NaN     NaN      NaN    NaN    NaN
747          NaN     NaN      NaN    NaN    NaN
753          NaN     NaN      NaN    NaN    NaN
774          NaN     NaN      NaN    NaN    NaN
922          NaN     NaN      NaN    NaN    NaN
923          NaN     NaN      NaN    NaN    NaN
938          NaN     NaN      NaN    NaN    NaN
978          NaN     NaN      NaN    NaN    NaN
994          NaN     NaN      NaN    NaN    NaN
1060         NaN     NaN      NaN    NaN    NaN
1202         NaN     NaN      NaN    NaN    NaN
1245         NaN     NaN      NaN    NaN    NaN

In [117]:
df=df.dropna()

In [118]:
df=df.drop_duplicates()

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1273 entries, 0 to 1302
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1273 non-null   float64
 1   Company     1273 non-null   object
 2   TypeName    1273 non-null   object
 3   Inches      1273 non-null   object
 4   Price       1273 non-null   float64
dtypes: float64(2), object(3)
memory usage: 59.7+ KB

### Checking if there are any common categories(miss-spelled/similar) that can be merged

In [120]:
df["Company"].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [121]:
df["TypeName"].unique() ##Netbook could be notebook

array(['Ultrabook', 'Notebook', 'Gaming', '2 in 1 Convertible',
       'Workstation', 'Netbook'], dtype=object)

#### NetBook can be changed into Notebook

In [122]:
df.TypeName.value_counts()

TypeName
Notebook              710
Gaming                203
Ultrabook             191
2 in 1 Convertible    116
Workstation            29
Netbook                24
Name: count, dtype: int64

In [123]:
df.TypeName.replace({"Netbook":"Notebook"},inplace=True)

C:\Users\w10\AppData\Local\Temp\ipykernel_9620\3887181421.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeName.replace({"Netbook":"Notebook"},inplace=True)

In [124]:
df.TypeName.value_counts()

TypeName
Notebook              734
Gaming                203
Ultrabook             191
2 in 1 Convertible    116
Workstation            29
Name: count, dtype: int64

### Checking The Percentge of different Types

In [125]:
df.TypeName.value_counts()/df.TypeName.shape[0]*100

TypeName
Notebook              57.659073
Gaming                15.946583
Ultrabook             15.003928
2 in 1 Convertible     9.112333
Workstation            2.278083
Name: count, dtype: float64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1273 entries, 0 to 1302
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1273 non-null   float64
 1   Company     1273 non-null   object
 2   TypeName    1273 non-null   object
 3   Inches      1273 non-null   object
 4   Price       1273 non-null   float64
dtypes: float64(2), object(3)
memory usage: 59.7+ KB

### Inches is an object --> changing dt to float

In [127]:
##Inches is of object type-->Checking for reason
import re

def check_inch(dt):
    s = []
    for i in dt:
        i = str(i)  # convert value to string
        match = re.findall('[A-Za-z]', i)
        if match:
            s.append("".join(match))
    return s

In [128]:
df.isnull().sum()

Unnamed: 0    0
Company       0
TypeName      0
Inches        0
Price         0
dtype: int64

In [129]:
check_inch(df['Inches'])

[]

In [130]:
df['Inches'] = pd.to_numeric(df['Inches'], errors='coerce')

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1273 entries, 0 to 1302
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1273 non-null   float64
 1   Company     1273 non-null   object
 2   TypeName    1273 non-null   object
 3   Inches      1272 non-null   float64
 4   Price       1273 non-null   float64
dtypes: float64(3), object(2)
memory usage: 59.7+ KB

In [133]:
df.to_csv("clean_laptop.csv", index=False)